/* For demo */ .button { margin: 0 15px 15px 0; }

/* Core style */
.button {
    display: inline-block;
    border: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    border-radius: 6px;

    line-height: 150%;
    font-family: Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;

    transition: opacity .15s ease-out;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    opacity: 1;
}

.button:hover, .button:focus, .button:active {
    text-decoration: none;
    opacity: .75;
}

.button::-moz-focus-inner {
    border: 0;
}

.button.skeuomorphic {
    border-color: rgba(0, 0, 0, .075);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
}

.button.skeuomorphic:active {
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}

/* Sizes */
.button.small {
    font-size: 12px;
    padding: .15em .9em .2em .9em;
}

.button.medium {
    font-size: 16px;
    padding: .3em .9em .25em .9em;
}

.button.large {
    font-size: 24px;
    padding: .2em .9em;
}

/* Colors */
.button {
    background: #9E9E9E;
    color: #FFFFFF;
}

.button:link, .button:visited {
    color: #FFFFFF
}

.button.red {
    background: #EF5350;
}

.button.green {
    background: #66BB6A;
}

.button.yellow {
    background: #FFCA28;
}

.button.blue {
    background: #42A5F5;
}
