html { padding: 15vh 1.5rem 20vh 1.5rem;
       background: #efe;
       text-align: center;
       font-family: 'PT Sans', Tahoma, sans-serif;
       font-size: 18px;
       line-height: 1.4;
       color: #454; }

body { display: flex;
       flex-flow: column wrap;
       justify-content: center;
       align-items: center; }

.container { margin-bottom: 4rem;}

h1 { margin: 0 0 1rem 0;
     letter-spacing: .1rem; }

a { margin: .75rem;}

a.source { border-bottom: 1px dotted #454;
           text-decoration: none;
           color: #454; }
a.source:hover,
a.source:focus,
a.source:active { border-bottom-style: solid; }

.icb-classic { background: #81c47a; }
.icb-chip { background: #5db2a8; }
.icb-check:hover,
.icb-check:active,
.icb-check:focus { background: #4f84c2; }
/*{ background: #4f84c2; }*/
/* { background: #6e5fb4; }*/
/*{ background: #5db2a8; }*/
/*{ background: #81c47a; }*/
