html { padding: 15vh 1.5rem 20vh 1.5rem;
       background: #efe;
       text-align: center;
       font-family: Tahoma, sans-serif;
       font-size: 18px;
       line-height: 1.4;
       letter-spacing: .05rem;
       color: #454; }

body { display: flex;
       flex-flow: column wrap;
       justify-content: center;
       align-items: center; }

.container { margin-bottom: 4rem;}

h1 { margin: 0 0 1rem 0; }

a { margin: .75rem;}

a.source { color: #676; }
a.source:hover,
a.source:focus,
a.source:active { opacity: .66; }

.one { background: #81c47a; }
.two { background: #5db2a8; }
.three { background: #4f84c2; }
.four { background: #6e5fb4; }
