.icb-chip { display: inline-block;
            height: 30px;
            width: 30px;
            padding: 18px 17px 14px 17px;
            border-radius: 50%;
            border-bottom: 2px solid rgba(0,0,0,.1);
            text-align: center;
            font-size: 30px;
            line-height: 1;
            text-decoration: none;
            color: #fff;
            text-shadow: 0 0 4px rgba(0, 0, 0, .25);
            box-shadow: 0 15px 25px -5px rgba(0, 0, 0, .25);
            transition: all .1s ease;
            transition-property: box-shadow, transform; }

.icb-chip:focus { box-shadow: 0 2.5px 5px rgba(0, 0, 0, .4);
                  padding-top: 13px;
                  padding-bottom: 11px;
                  border-bottom-width: 5px;
                  transform: translateY(15px) scale(.9, .75); }
