@import url("./src/button.css");
@import url("./src/checkbox.css");
@import url("./src/chip.css");

:root {
  --bg-color: #565;
  --bg-color-light: #787;
  --text-color: #ded;
  --animation: cubic-bezier(0, 0, 0.2, 1);
}

button {
  cursor: pointer;
}
