.button {
  background: var(--bg-color);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border-top: none;
  padding: 0.8rem 1.1rem 0.6rem 1.1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.5px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  transition: opacity 50ms ease;
}

.button:hover,
.button:focus {
  opacity: 0.9;
}

.button:active {
  border-bottom-width: 2px;
  border-radius: 5px;
  padding-bottom: 0.7rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  transform: translateY(4px) scale(0.975, 0.975);
}
