.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkbox:hover {
  border-color: var(--bg-color);
}

.checkbox:active {
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  box-shadow: none;
  transform: scale(0.9, 0.95) translate(2px, 4px) rotate(4deg);
  background: var(--bg-color-light);
}

.checkbox:active::after {
  opacity: 0;
}

.checkbox:focus {
  border-color: rgba(0, 0, 0, 0.5);
  background: var(--bg-color-light);
}

.checkbox:focus::after {
  position: absolute;
  margin-left: -1px;
  margin-top: 2px;
  content: "\2713";
  color: var(--text-color);
}
